@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #BB86FC,
  $secondary: #03DAC6,
  $on-primary: #FFFFFF,
  $on-secondary: #FFFFFF,
  $background: #303030,
  $surface: #424242,
  $error: #CF6679
);

body {
  background: url('/img/tactile_noise.png');
  color: theme.$on-primary;
}

a {
  text-decoration: none;
}

.primary {
  color: theme.$primary;
}
.primary-on-hover:hover {
  color: theme.$primary;
}

.secondary {
  color: theme.$secondary;
}

.error {
  color: theme.$error;
}

.bg {
  background-color: theme.$background;
}

.bg-on-hover:hover {
  background-color: theme.$background;
}

.greyed-text {
  color: rgba(255, 255, 255, 0.5);
}
